##### import lib and read csv

In [6]:
import pandas as pd 

worldpop = pd.read_csv('/workspaces/bts_jewel/data/world_population.csv', index_col=False)
btstrends = pd.read_csv('/workspaces/bts_jewel/data/bts_trends.csv', index_col=False)

##### performed left join to merge the 2 csv

In [34]:
df=btstrends.merge(worldpop, on='Country', how='left')

#### drop the unwanted columns

In [35]:
df2=df.drop(df.columns[[0,4]], axis=1,)
df2

,Country,geoCode,bts,Population (2020),Yearly Change,Net Change,Density (P/Km²),Land Area (Km²),Migrants (net),Fert. Rate,Med. Age,Urban Pop %,World Share
0,Afghanistan,AF,21,38928346.0,2.33,886592.0,60.0,652860.0,-62920.0,4.6,18.0,25.0,0.50
1,Albania,AL,21,2877797.0,-0.11,-3120.0,105.0,27400.0,-14000.0,1.6,36.0,63.0,0.04
2,Algeria,DZ,19,43851044.0,1.85,797990.0,18.0,2381740.0,-10000.0,3.1,29.0,73.0,0.56
3,American Samoa,AS,43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Andorra,AD,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
245,Western Sahara,EH,19,597339.0,2.55,14876.0,2.0,266000.0,5582.0,2.4,28.0,87.0,0.01
246,Yemen,YE,10,29825964.0,2.28,664042.0,56.0,527970.0,-30000.0,3.8,20.0,38.0,0.38
247,Zambia,ZM,8,18383955.0,2.93,522925.0,25.0,743390.0,-8000.0,4.7,18.0,45.0,0.24
248,Zimbabwe,ZW,12,14862924.0,1.48,217456.0,38.0,386850.0,-116858.0,3.6,19.0,38.0,0.19
249,Åland Islands,AX,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### sort the data by Population (2020)

In [39]:
df3=df2.sort_values(by=['Population (2020)'], ascending=False)
df3

,Country,geoCode,bts,Population (2020),Yearly Change,Net Change,Density (P/Km²),Land Area (Km²),Migrants (net),Fert. Rate,Med. Age,Urban Pop %,World Share
45,China,CN,5,1.439324e+09,0.39,5540090.0,153.0,9388211.0,-348399.0,1.7,38.0,61.0,18.47
102,India,IN,44,1.380004e+09,0.99,13586631.0,464.0,2973190.0,-532687.0,2.2,28.0,35.0,17.70
237,United States,US,12,3.310027e+08,0.59,1937734.0,36.0,9147420.0,954806.0,1.8,38.0,83.0,4.25
103,Indonesia,ID,39,2.735236e+08,1.07,2898047.0,151.0,1811570.0,-98955.0,2.3,30.0,56.0,3.51
167,Pakistan,PK,59,2.208923e+08,2.00,4327022.0,287.0,770880.0,-233379.0,3.6,23.0,35.0,2.83
...,...,...,...,...,...,...,...,...,...,...,...,...,...
230,Tuvalu,TV,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
231,U.S. Outlying Islands,UM,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
241,Vatican City,VA,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
244,Wallis & Futuna,WF,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
249,Åland Islands,AX,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [41]:
df3.rename(columns={"Med. Age":"Med_Age"}, inplace=True)
df3

,Country,geoCode,bts,Population (2020),Yearly Change,Net Change,Density (P/Km²),Land Area (Km²),Migrants (net),Fert. Rate,Med_Age,Urban Pop %,World Share
45,China,CN,5,1.439324e+09,0.39,5540090.0,153.0,9388211.0,-348399.0,1.7,38.0,61.0,18.47
102,India,IN,44,1.380004e+09,0.99,13586631.0,464.0,2973190.0,-532687.0,2.2,28.0,35.0,17.70
237,United States,US,12,3.310027e+08,0.59,1937734.0,36.0,9147420.0,954806.0,1.8,38.0,83.0,4.25
103,Indonesia,ID,39,2.735236e+08,1.07,2898047.0,151.0,1811570.0,-98955.0,2.3,30.0,56.0,3.51
167,Pakistan,PK,59,2.208923e+08,2.00,4327022.0,287.0,770880.0,-233379.0,3.6,23.0,35.0,2.83
...,...,...,...,...,...,...,...,...,...,...,...,...,...
230,Tuvalu,TV,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
231,U.S. Outlying Islands,UM,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
241,Vatican City,VA,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
244,Wallis & Futuna,WF,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
249,Åland Islands,AX,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df3 =